@{
    ViewBag.Title = "PhoneBookSearch";
}

@model AupaWeb.Models.PhoneBookViewModel
    


    <main role="main" class="container">
        <br />
        <br />
        @Html.ValidationSummary()
        @using (Html.BeginForm("SearchPhoneBook", "PhoneBook", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <div class="col-md-4 order-md-2 mb-4">
                <p>
                    <label for="ColValue">搜尋姓名</label>
                    @Html.TextBoxFor(m => m.ColValue, new { @class = "form-control" })
                </p>
                <p>
                    <label for="ColName">搜尋部門</label>
                    @Html.DropDownListFor(m => m.Zza06, Model.SelectListItems, "Please select",
                                     new { @style = "width: 260px;", @class = "form-control" })
                </p>

                <button type="submit" name="Search" class="btn btn-primary">查詢</button>

            </div>
            <button type="submit" name="Audit" class="btncss btn btn-sm btn-outline-secondary">稽核室</button>
            <button type="submit" name="TDD" class="btncss btn btn-sm btn-outline-secondary">技術開發處</button>
            <button type="submit" name="TD" class="btncss btn btn-sm btn-outline-secondary">技術開發部</button>
            <button type="submit" name="ALS" class="btn btn-sm btn-outline-secondary">分析部</button>
            <button type="submit" name="TS" class="btn btn-sm btn-outline-secondary">技術整合部</button>
            <button type="submit" name="IO" class="btn btn-sm btn-outline-secondary">資訊處</button>
            <button type="submit" name="IT" class="btn btn-sm btn-outline-secondary">資訊部</button>
            <button type="submit" name="BDO" class="btn btn-sm btn-outline-secondary">業務開發處</button>
            <button type="submit" name="BD" class="btn btn-sm btn-outline-secondary">業務開發部</button>
            <button type="submit" name="FAO" class="btn btn-sm btn-outline-secondary">財務會計處</button>
            <button type="submit" name="FA" class="btn btn-sm btn-outline-secondary">財務會計部</button>
            <button type="submit" name="MD" class="btn btn-sm btn-outline-secondary">製造事業處</button>
            <button type="submit" name="PD" class="btn btn-sm btn-outline-secondary">生產部</button>
            <button type="submit" name="PKG" class="btn btn-sm btn-outline-secondary">包裝課</button>
            <button type="submit" name="PMA" class="btn btn-sm btn-outline-secondary">製造課</button>
            <button type="submit" name="ENG" class="btn btn-sm btn-outline-secondary">工程部</button>
            <button type="submit" name="QA" class="btn btn-sm btn-outline-secondary">品保部</button>
            <button type="submit" name="QC" class="btn btn-sm btn-outline-secondary">品管部</button>
            <button type="submit" name="PP" class="btn btn-sm btn-outline-secondary">生管部</button>
            <button type="submit" name="WH" class="btn btn-sm btn-outline-secondary">倉庫部</button>
            <button type="submit" name="QS" class="btn btn-sm btn-outline-secondary">品質系統</button>

            <button type="submit" name="HR" class="btn btn-sm btn-outline-secondary">人資部</button>
            <button type="submit" name="PUR" class="btn btn-sm btn-outline-secondary">採購部</button>
        }


        <div class="panel-body">
            <table class="table">
                <thead class="thead-light">
                    <tr>
                        <th align="center" style="width: 200px">工號</th>
                        <th style="width: 250px">姓名</th>
                        <th style="width: 200px">英文姓名</th>
                        <th style="width: 300px">Email</th>
                        <th style="width: 250px">分機號碼</th>
                        <th style="width: 250px">職稱</th>
                        <th style="width: 300px">部門</th>
                        <th style="width: 250px">成本中心</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var eachUserData in Model.UserBasicDataList)
                    {
                    <tr>
                        <td>@eachUserData.Zza01</td>
                        <td>
                            <a href="mailto:@eachUserData.Zza05">
                                <div style="height:100%;width:100%">
                                    @eachUserData.Zza04
                                </div>
                            </a>
                        </td>
                        <td>
                            <a href="mailto:@eachUserData.Zza05">
                                <div style="height:100%;width:100%">
                                    @eachUserData.Zza02.@eachUserData.Zza03
                                </div>
                            </a>
                        </td>
                        <td>
                            <a href="mailto:@eachUserData.Zza05">
                                <div style="height:100%;width:100%">
                                    @eachUserData.Zza05
                                </div>
                            </a>
                        </td>
                        <td>
                            <a href="mailto:@eachUserData.Zza05">
                                <div style="height:100%;width:100%">
                                    @eachUserData.Zza07
                                </div>
                            </a>
                        </td>
                        <td>@eachUserData.Zza08</td>
                        <td>@eachUserData.Zzb02</td>
                        <td>@eachUserData.Zza06</td>
                    </tr>
                    }
                </tbody>
            </table>

        </div>



    </main>
